<!doctype html>
<html lang="en">

<head>
	{% load static %}
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="author" content="Untree.co">
	<link rel="shortcut icon" href="{% static 'favicon.ico' %}">

	<meta name="description" content="" />
	<meta name="keywords" content="bootstrap, bootstrap4" />

	<!-- Bootstrap CSS -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
	<link href="{% static 'css/tiny-slider.css' %}" rel="stylesheet">
	<link href="{% static 'css/style.css' %}" rel="stylesheet">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
	<title>OG Movers and Packers</title>
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-5Q0BB445WZ"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag() { dataLayer.push(arguments); }
		gtag('js', new Date());

		gtag('config', 'G-5Q0BB445WZ');
	</script>
	<!-- Google tag (gtag.js) -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=AW-16485596543"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag() { dataLayer.push(arguments); }
		gtag('js', new Date());

		gtag('config', 'AW-16485596543');
	</script>
	<!-- Event snippet for Submit lead form conversion page -->
	<script>
		gtag('event', 'conversion', { 'send_to': 'AW-16485596543/An2RCNy94JkZEP_6-LQ9' });
	</script>
	<!-- Hotjar Tracking Code for Site 5092808 (name missing) -->
	<script>
		(function (h, o, t, j, a, r) {
			h.hj = h.hj || function () { (h.hj.q = h.hj.q || []).push(arguments) };
			h._hjSettings = { hjid: 5092808, hjsv: 6 };
			a = o.getElementsByTagName('head')[0];
			r = o.createElement('script'); r.async = 1;
			r.src = t + h._hjSettings.hjid + j + h._hjSettings.hjsv;
			a.appendChild(r);
		})(window, document, 'https://static.hotjar.com/c/hotjar-', '.js?sv=');
	</script>
	<meta name="trustpilot-one-time-domain-verification-id" content="343f0652-5e28-43f2-99c8-30f6dd5cf52d" />
</head>

<body>
	<!-- Add this script just before </body> -->


	<style>
		.container-3d {
			border: 3px solid #000;
			box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
			background-color: #fff;
			/* Background color for the content */
		}
	</style>

	<!-- Start Header/Navigation -->
	<nav class="custom-navbar navbar navbar navbar-expand-md navbar-dark bg-dark" arial-label="Furni navigation bar">

		<div class="container">
			<a href="/"><img class="navbar-brand" style="height: 60px; border-radius: 60px;" id="logo"
					src="{% static 'logo.png' %}"></a>

			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsFurni"
				aria-controls="navbarsFurni" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarsFurni">
				<ul class="custom-navbar-nav navbar-nav ms-auto mb-2 mb-md-0">
					<li><a class="nav-link btn" target="_blank" href="tel:+61434653406">+61 434 653 406</a></li>
					<li>
						<a class="btn btn-warning" href="/">Home</a>
					</li>
					<li><a class="btn btn-warning" href="{% url 'contact' %}">Contact us</a></li>
					<li><a class="btn btn-warning" href="{% url 'service' %}">Services</a></li>
					<li><a class="btn btn-warning" href=" {% url 'iservice' 'FAQ' %} ">FAQ</a></li>
					<li><a class="btn btn-warning" href="{% url 'iservice' 'ABOUT' %}">About us</a></li>
					<li><a href="{% url 'contact' %}" class="btn btn-warning">Get a Quote</a></li>

				</ul>
			</div>
		</div>

	</nav>
	<a href="tel:+61434653406" class="fixed-button whatsapp-button">
		<i class="bi bi-telephone-fill"></i>
	</a>
	<style>
		.bgg {
			background-image: url('static/images/c-form.jpeg');
			background-size: cover;
			/* Adjust as needed (cover, contain, etc.) */
			background-repeat: no-repeat;
		}

		.text-black {
			color: black;
		}
	</style>
	<section>
		<div id="background-img">
			<div class="hero">
				<div class="container">
					<div class="row justify-content-between">
						<div class="col-lg-5">
							<div class="intro-excerpt">
								<h1 style="color: #ffffff;">Reliable and Reasonably Priced Removalists in
									Adelaide<span clsas="d-block"></span></h1>
								<p style="color: #ffffff;" class="mb-4">For all of your relocation needs in
									Adelaide, we
									have
									you covered.
								</p>
								<p><a href="{% url 'contact' %}" class="btn btn-secondary me-2">Get a Quote</a><a
										target="_blank" href="tel:+61434653406" class="btn btn-secondary">Call Us
										Now</a>
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
        <div class="container">
        <section>
            <h1>Privacy Policy</h1>

        <p>This following document sets forth the Privacy Policy for the OG Movers website, <a
                href="https://www.ogmovers.com.au/">https://www.ogmovers.com.au/</a>.</p>

        <p>OG Movers is committed to providing you with the best possible customer service experience. OG Movers is
            bound by the Privacy Act 1988 (Cth), which sets out a number of principles concerning the privacy of
            individuals.</p>

        <h2>Collection of your personal information</h2>

        <p>There are many aspects of the site which can be viewed without providing personal information, however, for
            access to future OG Movers customer support features you are required to submit personally identifiable
            information. This may include but not limited to a unique username and password, or provide sensitive
            information in the recovery of your lost password.</p>

        <h2>Sharing of your personal information</h2>

        <p>We may occasionally hire other companies to provide services on our behalf, including but not limited to
            handling customer support enquiries, processing transactions or customer freight shipping. Those companies
            will be permitted to obtain only the personal information they need to deliver the service. OG Movers takes
            reasonable steps to ensure that these organisations are bound by confidentiality and privacy obligations in
            relation to the protection of your personal information.</p>

        <h2>Use of your personal information</h2>

        <p>For each visitor to reach the site, we expressively collect the following non-personally identifiable
            information, including but not limited to browser type, version and language, operating system, pages viewed
            while browsing the Site, page access times and referring website address. This collected information is used
            solely internally for the purpose of gauging visitor traffic, trends and delivering personalized content to
            you while you are at this Site.</p>

        <p>From time to time, we may use customer information for new, unanticipated uses not previously disclosed in
            our privacy notice. If our information practices change at some time in the future we will use for these new
            purposes only, data collected from the time of the policy change forward will adhere to our updated
            practices.</p>

        <h2>Changes to this Privacy Policy</h2>

        <p>OG Movers reserves the right to make amendments to this Privacy Policy at any time. If you have objections to
            the Privacy Policy, you should not access or use the Site.</p>

        <h2>Accessing Your Personal Information</h2>

        <p>You have a right to access your personal information, subject to exceptions allowed by law. If you would like
            to do so, please let us know. You may be required to put your request in writing for security reasons. OG
            Movers reserves the right to charge a fee for searching for, and providing access to, your information on a
            per request basis.</p>

        <h2>Contacting us</h2>

        <p>OG Movers welcomes your comments regarding this Privacy Policy. If you have any questions about this Privacy
            Policy and would like further information, please contact us by any of the following means during business
            hours Monday to Friday.</p>

        <address>
            OG Movers<br>
            Pooraka, South Australia<br>
            Phone: +61 434 653 406<br>
            Email: <a href="mailto:ogmovers1@gmail.com">ogmovers1@gmail.com</a><br>
        </address>

        <p>By using our services, you acknowledge that you have read and understood this Privacy Policy and agree to its
            terms.</p>

           
        </section>
    </div>
		<!-- Start Footer Section -->
		<footer class="footer-section">
			<div class="container relative">

				<div class="row">
					<div class="col-lg-8">

					</div>
				</div>
				<div class="row g-5 mb-5">
					<div class="col-lg-4">

						<div class="mb-4 footer-logo-wrap"><a href="#" class="footer-logo">Elevating Relocation
								Experiences
								with Expertise and Care!<span>.</span></a></div>
						<p class="mb-4">At OG Movers, we are dedicated to making your move as smooth and
							stress-free as
							possible. With years of experience in the moving industry, we pride ourselves on
							reliability,
							professionalism, and exceptional customer service. Whether you're moving across town
							or
							across
							the country, our team of skilled movers is committed to handling your belongings
							with care
							and
							ensuring a seamless transition to your new home or office. From packing and
							transportation
							to
							unpacking and setup, we offer a full range of moving services tailored to meet your
							unique
							needs. Trust OG Movers to deliver quality service and peace of mind for your next
							move..</p>

						<ul class="list-unstyled custom-social">
							<h3 class="h3">Follow us on</h3>
							<li><a href="https://www.facebook.com/profile.php?id=61557985231099"><span
										class="fa fa-brands fa-facebook-f"></span></a></li>
							<li><a href="https://www.tiktok.com/@og.movers?_t=8oDKu8nNwut&_r=1"><span
										class="fa fa-brands fa-tiktok"></i></span></a></li>
							<li><a href="https://www.instagram.com/ogmovers/" target="_blank"><span
										class="fa fa-brands fa-instagram"></span></a></li>
							<li><a href="#"><span class="fa fa-brands fa-linkedin"></span></a></li>
						</ul>
					</div>
					<div class="col-lg-8">
						<div class="row links-wrap">
							<div class="col-6 col-sm-6 col-md-3">
								<ul class="list-unstyled">
									<li><a style="color: #00008B;" href="{% url 'iservice' 'ABOUT' %}">About us</a></li>
									<li><a style="color: #00008B;" href="{% url 'terms' %}">Terms and Conditions</a>
									</li>
									<li><a style="color: #00008B;" href="{% url 'contact' %}">Contact us</a></li>
									<li><a style="color: #00008B;" href="{% url 'privacy' %}">Privacy Policy</a></li>
									<li><a style="color: #00008B;" href="{% url 'iservice' 'FAQ' %}">FAQ</a></li>
									<li><a style="color: #00008B;"
											href="{% url 'iservice' 'insurance-policy' %}">Insurance Policy</a></li>
								</ul>
							</div>
						</div>
					</div>

					<!-- Google Maps iframe -->
					<iframe
						src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d59644446.984194264!2d91.5130743!3d-24.157415!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xa20ad3b42d0d0245%3A0x3f36b978203408ab!2sOG%20Movers!5e0!3m2!1sen!2sin!4v1714326969689!5m2!1sen!2sin"
						width="340" height="250" style="border:0;" allowfullscreen="" loading="lazy"
						referrerpolicy="no-referrer-when-downgrade"></iframe>

					<footer class="border-top">
						<div class="container pt-4">
							<div class="row">
								<div class="col-lg-6">
									<p class="mb-2 text-center text-lg-start">
										&copy;
										<script>document.write(new Date().getFullYear());</script> OG Movers. All Rights
										Reserved.
									</p>
									<p class="text-center text-lg-start">
										&copy; 2024 Designed and Developed by <a style="color: #00008B;"
											href="https://www.mandeep-developer.site/">Developer</a>
									</p>
								</div>
								<div class="col-lg-6">
									<ul
										class="list-unstyled d-inline-flex justify-content-center justify-content-lg-end">

									</ul>
								</div>
							</div>
						</div>
					</footer>
				</div>
			</div>

	</div>
	</footer>
	<script async src="https://www.googletagmanager.com/gtag/js?id=AW-16485596543"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag() { dataLayer.push(arguments); }
		gtag('js', new Date());

		gtag('config', 'AW-16485596543');
	</script>
	<!-- End Footer Section -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
	<script src="https://kit.fontawesome.com/a076d05399.js"></script>
	<!-- Bootstrap JS and its dependencies -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>


	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
		crossorigin="anonymous"></script>
	<script src="{% static 'js/tiny-slider.js' %}"></script>
	<script src="{% static 'js/custom.js' %}"></script>
</body>

</html>